html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  background-color: #66cce3;
}

#arena {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#arena label {
  display: block;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 2.5px;
}

#arena label:nth-child(2) {
  margin: 0 5rem;
}

#arena img {
  width: 400px;
  height: 400px;
  border: #e4e4e4 solid 8px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#enemy-hand {
  transform: scale(-1, 1);
}

#choose-hand {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#choose-hand label {
  margin-bottom: 15px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.5px;
}

button {
  margin-bottom: 30px;
  padding: 15px 50px;
  cursor: pointer;
  border: #fff solid 3px;
  border-radius: 5px;
  background-color: #f79e7e;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#choose-hand #choices {
  width: 500px;
  display: flex;
  justify-content: space-around;
}
#choose-hand img {
  width: 120px;
  height: 120px;
  cursor: pointer;
  border: #e4e4e4 solid 5px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
