/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #151414;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    margin: 0px 0px;
    font-size: 5rem;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #cccccc;
}

h2 {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 2px;
}

ul{
    list-style: none;
    font-size: 1.2rem;
}

ul > li{
    margin-bottom: 5px;
}

ul .year{
    color: #cccccc;
}


/* Main content */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    margin-left: 10%;
    color: #5A5A5A;
    
}

.timeline {
    margin-top: 3rem;
}


@media screen and (max-width: 1024px){
    img {
        width: 400px;
        height: 400px;
    }
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    ul {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){
    main {
        display: flex;
        flex-direction: column;
    }

    img {
        border-radius: 50%;
        object-fit: cover;
        margin: 3rem 0;
    }
}